
.description{
  display: flex;
  flex-direction: column;
  
}
.description2{
  display: flex;
  flex-direction: row;
height: 30px;


}
.colorP{
  color: red;
font-weight: bolder;

}
.pumps{
  display: flex;
  flex-direction:row;
gap: 10px;
  /* justify-content: space-between; */
  border: 2px solid #333; /* Толщина, стиль и цвет границы */
  border-radius: 8px; /* Закругление углов */
  padding: 20px; /* Внутренний отступ для контента */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); /* Тень блока */
  background-color: white;
}
.zoomable-box {
 
 
  transition: transform 0.7s ease;
}

.zoomable-box:hover {
  transform: scale(1.5);
  /* color: red;
  font-weight: "bolder";
  font-size: 20px; */
 
}
.description3 {
  display: flex;
  flex-direction: row;
height: 30px;
justify-content:center;
}
body{
  /* background-color: blue; */
}
.pump{
  background-color: aquamarine;
  border-radius: 10px;
}
img {
  /* border: 2px solid black; */
}
@media  (max-width: 800px) {
 
  .pumps {
    flex-direction: column;
    gap: 20px;
    padding: 10px;
  }

  .pump {
    width: 100%;
  }

  .zoomable-box:hover {
    transform: none;
  } 
  .img{
    display: flex;
    justify-content: center;
  }
  
  /* Ваши стили для смартфонов */
}
.ardonix{
  display: flex;
  justify-content: center;
  align-items: center;
}
